body {
  font-family: "OpenSans-Regular", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red;
}

body input:required:valid,
body textarea:required:valid {
  color: green;
}

.hidden {
  display: none;
}

h1 {
  margin: 0;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 60px;
  color: #fff;
}

h2 {
  margin: 0;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 35px;
}

h3 {
  margin: 0;
  font-family: "OpenSans-Light", sans-serif;
  font-size: 30px;
}

p {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
}

header {
  height: 950px;
  background-image: url(../img/header-bg.png);
  background-position: top center;
  background-size: cover;
}

header img {
  margin: 56px 0 355px 0;
}

header p {
  color: #fff;
}

.description {
  height: 1623px;
  padding-top: 114px;
}

.description p {
  color: #959595;
}

.description .column-2 {
  padding-top: 136px;
}

.option {
  padding-top: 438px;
  height: 874px;
  background-image: url(../img/options-bg.png);
  color: #fff;
}

.option a {
  color: #fff;
  font-weight: bold;
}

.reasons {
  height: 536px;
}

.price {
  height: 628px;
}

footer {
  height: 911px;
}
