@import "bourbon/bourbon"

body
	font-family: "OpenSans-Regular", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.42857
	-webkit-font-smoothing: antialised

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

$font-light: "OpenSans-Light", sans-serif
$font-regular: "OpenSans-Regular", sans-serif
$color-black: #222626
$color-gray: #959595
$color-gray-h: #67676d
$color-gb: #8297a7
$color-blue: #192431

h1
	margin: 0
	font-family: $font-light
	font-size: 60px
	color: #fff

h2
	margin: 0
	font-family: $font-light
	font-size: 35px

h3
	margin: 0
	font-family: $font-light
	font-size: 30px

p
	font-family: $font-regular
	font-size: 14px
	line-height: 24px

header
	height: 950px
	background-image: url(../img/header-bg.png)
	background-position: top center
	background-size: cover
	img
		margin: 56px 0 355px 0
	p
		color: #fff

.description
	height: 1623px
	padding-top: 114px
	p
		color: $color-gray
	.column-2
		padding-top: 136px

.option
	padding-top: 438px
	height: 874px
	background-image: url(../img/options-bg.png)
	color: #fff
	a
		color: #fff
		font-weight: bold

.reasons 
	height: 536px

.price
	height: 628px

footer
	height: 911px